.main{
    margin-top: 100px;
    background-color: #181818;
    color: white;
}

.main section{
    margin-top:100px ;
    margin-bottom: 100px;
}

.main_title,.main_subtitle{
    margin: 0px;
    width: 40%;
}

.features,.contents,.gallery,.partners,.Testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main_title{
    font-family: RobotoLight, sans-serif;
    margin-top: 60px;
    margin-bottom: 27px;
    font-size: 62px;
}

.main_subtitle{
    font-family: RobotoThin , sans-serif;
    font-size: 20px;
    margin-bottom: 80px;
}

.features_block{
    display: flex;
}

.features_block ul{
    margin-top: -35px;
    padding-top: 0px;
}

.features_block ul li{
    text-align: left;
    width: 270px;
    list-style-type: none;
    align-items: center;
}

.features_block ul li div span{
    width: 150px;
    font-family: RobotoMedium,sans-serif;
    font-size: 20px;
}

.features_block ul li div img{
    margin-right: 13px;
}

.features_block ul li span{
    font-family: RobotoThin ,sans-serif;
    display: inline-block;
    margin-top: 20px;
}

.main_cards{
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.main_card{
    justify-content: space-between;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 35px;
    background-color: white;
    border-radius: 10px;
    color: #000000;
}

.main_card h1{
    margin: 0%;
    font-family: RobotoMedium;
    font-size: 20px;
}

.main_card h5{
    font-family: RobotoThin;
    font-size: 16px;
    width: 268px;
    margin-top: 20px;

}
.first_card{
    margin-right: 33px;
}

.gallery div{
    justify-content: center;
}

.gallery div h1{
    font-size: 62px;
    margin: 0%;
    font-family: RobotoLight;
}

.gallery div h5{
    font-size: 20px;
    font-family: RobotoThin;
    width: 500px;
    margin-top: 20px;
}

.row1,.row2{
    display: flex;
    justify-content: center;
}

.row1 img,.row2 img{
    border-radius: 10px;
    margin:44px 30px;
}

.gallery button{margin-bottom: 50px;}

.titfix{
    font-size: 62px;
    margin: 0%;
    font-family: RobotoLight;
}

.subtitfix{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: RobotoThin;
    width: 500px;
}

.partners_logos{
    display: flex;
    width: 832px;
    justify-content: space-around;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Testimonials{
    display: flex;
    text-align: center;
}